.onetable {
  font-family: arial;
  border-collapse: collapse;
  width: 35%;
}
td,
th {
  border: 3px solid #000000;
  text-align: center;
  padding: 8px;
}

.twosearch {
  border-radius: 10px;
  width: 560px;
  height: 44px;
  margin-left: 679.24px;
  display: flex;
  justify-content: space-between;
}
